.mat-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 8%;
}

button{
    font-size: 20px;
    margin-right: 10px;
}
img{
    object-fit: contain;
    width: 100%;
    object-position: center;
}
span{
    user-select: none;
}
.background{
    background-image: url('../../../../assets/images/ready-eat-hamburger-ingredients.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
}