.mat-grid-tile{
    margin-top: 30px;
}
.mat-grid-tile{
    box-shadow: 2px 1px 3px gray;
    border-radius: 10px;
}
.mat-card{
    height: 220px;
}
.mat-card-content{
    font-size: 18px;
    font-weight: 600;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.mat-card-title{
    padding-top: 10px;
    font-weight: 400;
}
