<mat-toolbar color="primary">
    <span>Add Category</span>
</mat-toolbar>
<form [formGroup]="categoryForm" (submit)="create()">
    <mat-form-field>
        <mat-label> Name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="categoryForm.controls?.['name']?.touched">Category Name is Required.</mat-error>
    </mat-form-field>
    <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close="close" type="submit" [disabled]="!categoryForm.valid">Add</button>
        <button mat-raised-button mat-dialog-close="close" color="primary">Close</button>
    </mat-dialog-actions>
</form>
