.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mat-card-content{
    font-size: 18px;
    font-weight: 600;
}
.middle{
    margin-top: 30px;
}
.mat-form-field{
    width: 100%;
    margin-right: 20px;
}
input{
    padding: 0px 10px;
}
.mat-card-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
table{
    margin-top: 30px;
    width: 100%;
}
th.mat-header-cell {
    text-align: center;
}
.mat-header-cell {
    font-size: 15px;
    font-weight: 500;
}
tr{
    text-align: center;
}
select2{
    width: 100%;
    height:100%;
}
.icon{
    cursor: pointer;
}
.mat-cell{
    text-transform: capitalize;
}