<mat-card class="header">
    <mat-card-content>Manage Order</mat-card-content>
    <button mat-raised-button color="primary" (click)="getBill()">Submit & Get Bill</button>
</mat-card>
<mat-card class="middle">
    <mat-card-content>Customer Details</mat-card-content>
    <mat-grid-list cols="4" rowHeight="fit" style="height: 100px;">
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Name*</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Email*</mat-label>
                    <input type="email" matInput>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Contact Number*</mat-label>
                    <input type="tel" matInput>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Payment Method</mat-label>
                    <mat-select >
                        <mat-option value="cash">Cash</mat-option>
                        <mat-option value="credit card">Credit Card</mat-option>
                        <mat-option value="bank card">Bank Card</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
    </mat-grid-list>

</mat-card>

<mat-card class="middle">
    <mat-card-content>Select Product</mat-card-content>
    <mat-grid-list cols="5" rowHeight="fit" style="height: 100px;">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select>
                    <mat-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-option>
                </mat-select>
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Product</mat-label>
                <mat-select >
                    <mat-option value="cash">Cash</mat-option>
                    <mat-option value="credit card">Credit Card</mat-option>
                    <mat-option value="bank card">Bank Card</mat-option>
                </mat-select>
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Price*</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Quantity*</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Total</mat-label>
                <input type="number" matInput value="0">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-card-actions>
        <button mat-raised-button>Add</button>
        <button mat-raised-button color="primary">Total Amount : 0</button>
    </mat-card-actions>
</mat-card>

<table mat-table  class="mat-elevation-z8">
   
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"> 
          <mat-icon color="primary">
              <span class="material-symbols-outlined">
                    delete
              </span>
          </mat-icon>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>