<mat-card class="header">
    <mat-card-content>Manage Product</mat-card-content>
    <button mat-raised-button color="primary" (click)="add()">
      <mat-icon>
          <span class="material-symbols-outlined">
              add
          </span>
      </mat-icon>
      <span>Add Product</span>
  </button>
</mat-card>
<mat-card class="middle">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)">
    </mat-form-field>
</mat-card>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> 
            <mat-icon color="primary">
                <span class="material-symbols-outlined">
                    edit
                </span>
            </mat-icon>
            <mat-icon color="primary" class="delete">
                <span class="material-symbols-outlined">
                    delete
                </span>
            </mat-icon>
            <mat-icon color="primary">
                <span class="material-symbols-outlined">
                    toggle_on
                </span>
            </mat-icon>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>