.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mat-card-content{
    font-size: 18px;
    font-weight: 600;
}
.middle{
    margin-top: 30px;
}
.mat-form-field{
    width: 100%;
}
input{
    padding: 0px 10px;
}
table{
    width: 100%;
    margin-top: 30px;
}
.material-symbols-outlined{
    cursor: pointer;
}
.mat-icon{
    font-size: 40px;
}
th.mat-header-cell {
    text-align: center;
}
.mat-header-cell {
    font-size: 15px;
    font-weight: 500;
}
tr{
    text-align: center;
}