<mat-toolbar color="primary">
    <span>Signup</span>
</mat-toolbar>
<form [formGroup]="signUpForm" (submit)="signUp()">
    <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput type="text" formControlName="userName">
        <mat-error *ngIf="signUpForm.controls?.['userName']?.touched">This is Required.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label >Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="signUpForm.controls?.['password']?.touched">This is Required.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label >Contact Number</mat-label>
        <input matInput type="number" placeholder="091234569023" formControlName="contact">
        <mat-error *ngIf="signUpForm.controls?.['contact']?.touched">This is Required.</mat-error>
    </mat-form-field>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close="close" color="primary" type="submit">Sign Up</button>
        <button mat-raised-button mat-dialog-close="close">Cancel</button>
    </mat-dialog-actions>
</form>
