<mat-toolbar color="primary">
    <span>Signup</span>
</mat-toolbar>
<form>
    <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label >Password</mat-label>
        <input matInput type="password">
    </mat-form-field>
    <mat-form-field>
        <mat-label >Contact Number</mat-label>
        <input matInput type="tel" placeholder="091234569023">
    </mat-form-field>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close="close" color="primary">Sign Up</button>
        <button mat-raised-button mat-dialog-close="close">Cancel</button>
    </mat-dialog-actions>
</form>
