.active{
    background-color: #3f51b5;
    color: #fff;
}
a{
    text-decoration: none;
    padding: 0px 10px;
}
.menulist{
    margin-left: 10px;
}
.mat-list{
    margin-top: 30px;
}
.mat-list-item{
    margin-top: 15px;
}