<mat-list>
    <a href="#" mat-list-item routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>
            <span class="material-symbols-outlined">
                dashboard
            </span>
        </mat-icon>
        <span class="menulist">Dashboard</span>
    </a>
    <a href="#"mat-list-item routerLink="category"  routerLinkActive="active">
        <mat-icon>
            <span class="material-symbols-outlined">
                category
            </span>
        </mat-icon>
        <span class="menulist">Category</span>
    </a>
    <a href="#"mat-list-item routerLink="product"  routerLinkActive="active">
        <mat-icon>
            <span class="material-symbols-outlined">
                inventory_2
            </span>
        </mat-icon>
        <span class="menulist">Product</span>
    </a>
    <a href="#"mat-list-item routerLink="order"  routerLinkActive="active">
        <mat-icon>
            <span class="material-symbols-outlined">
                inventory
            </span>
        </mat-icon>
        <span class="menulist">Orders</span>
    </a>
    <a href="#"mat-list-item routerLink="bill"  routerLinkActive="active">
        <mat-icon>
            <span class="material-symbols-outlined">
                receipt_long
            </span>
        </mat-icon>
        <span class="menulist">View Bill</span>
    </a>
    <a href="#"mat-list-item routerLink="users"  routerLinkActive="active">
        <mat-icon>
            <span class="material-symbols-outlined">
                manage_accounts
            </span>
        </mat-icon>
        <span class="menulist">Manage Users</span>
    </a>
</mat-list>