<mat-toolbar color="primary">
    <span>Add Category</span>
</mat-toolbar>
<form [formGroup]="productForm" (submit)="create()">
    <mat-form-field>
        <mat-label> Name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="productForm.controls?.['name']?.touched">This is required</mat-error>
    </mat-form-field>
    <mat-grid-list cols="2" rowHeight="fit" style="height: 100px;">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label> Price</mat-label>
                <input matInput type="number" formControlName="price">
                <mat-error *ngIf="productForm.controls?.['price']?.touched">This is required</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                    <mat-option value="cash">Cash</mat-option>
                    <mat-option value="credit card">Credit Card</mat-option>
                    <mat-option value="bank card">Bank Card</mat-option>
                </mat-select>
                <mat-error *ngIf="productForm.controls?.['category']?.touched">This is required</mat-error>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-form-field>
        <mat-label> Description</mat-label>
        <input matInput type="text" formControlName="description">
        <mat-error *ngIf="productForm.controls?.['description']?.touched">This is required</mat-error>
    </mat-form-field>
    <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close="close" type="submit">Add</button>
        <button mat-raised-button mat-dialog-close="close" color="primary">Close</button>
    </mat-dialog-actions>
</form>
